<h1>manoj</h1>



  <!-- <div class="container-fluid">
<div class="row">
  <div class="col-md-4 login-sec">
      <h2 class="text-center">Login Now</h2>
      <form class="login-form" [formGroup]="myform" (ngSubmit)="onSubmit()">


        <div class="form-group">
  <label for="exampleInputEmail1" class="text-uppercase" >Username</label>
  <input type="text" class="form-control" placeholder="" [ngClass]="{ 'is-invalid': submit && myform.controls.name.errors }" autofocus>
  <div *ngIf="submit && myform.controls.name.errors" class="invalid-feedback">
      <div *ngIf="myform.controls.name.errors.required">name is required</div>
    </div>
</div>


<div class="form-group">
  <label for="exampleInputPassword1" class="text-uppercase">Password</label>
  <input type="password"  class="form-control" placeholder=""[ngClass]="{ 'is-invalid': submit && myform.controls.password.errors }" >
  <div *ngIf="submit && myform.controls.password.errors" class="invalid-feedback">
      <div *ngIf="myform.controls.password.errors.required">password is required</div>
  </div>
 </div>


  <div class="form-check">
  <label class="form-check-label chack">
    <input type="checkbox" class="form-check-input">
    <small>Remember Me</small>
  </label>
  <button type="submit" class="btn btn-login float-right" (click)="onSubmit()" >Login</button>
  <button type="submit" class="btn btn-register float-left">Register</button>
</div>


</form>
<div class="copy-text">Created with <i class="fa fa-heart"></i> by Grafreez</div>
  </div>
  <div class="col-md-8 banner-sec">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
          <div class="carousel-inner" role="listbox">
  <div class="carousel-item active">
    <img class="d-block img-fluid" src="https://static.pexels.com/photos/33972/pexels-photo.jpg" alt="First slide">
    <div class="carousel-caption d-none d-md-block">
      <div class="banner-text">
          <h2>This is Heaven</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
      </div>	
</div>
  </div>
  <div class="carousel-item">
    <img class="d-block img-fluid" src="https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg" alt="First slide">
    <div class="carousel-caption d-none d-md-block">
      <div class="banner-text">
          <h2>This is Heaven</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
      </div>	
  </div>
  </div>
  <div class="carousel-item">
    <img class="d-block img-fluid" src="https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg" alt="First slide">
    <div class="carousel-caption d-none d-md-block">
      <div class="banner-text">
          <h2>This is Heaven</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
      </div>	
  </div>
</div>
          </div>	   
      
  </div>
</div>
</div><br>

 -->





 <div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>Angular 6 Reactive Form Validation</h2>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">First Name is required</div>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                        </div>
                    </div> -->
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





<h1>Second Type </h1>

<app-form></app-form>



<router-outlet></router-outlet>
